<div class="row">  
    <div class="col-6 mx-auto mt-4">
        <h3 class="text-muted text-left">Latest articles</h3>
        <% @articles.each do |article| %>
            <div class="card border-info mb-3" >
                <div class="card-header">
                    <h5 class="text-primary">
                        <img src="<%= article.avatar %>" width="60" height="60" class="rounded-cirle"/>
                        <%= User.find_by_id(article.user_id).name %>
                    </h5>
                </div>
                <div class="card-body">
                    <h4 class="card-title"><%= article.title %></h4>
                    <p class="card-text text-truncate"><%= article.content %></p>
                    <div class="text-right">
                        <p class="card-text float-left d-inline-block"><small class="text-muted">View: <%= article.view %></small></p>             
                        <a data-view="<%= article.view %>" id="article" class="card-link" href="/articles/<%= article.id %>">Read more &#8594;</a>      
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
